* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins;
  src: url(/assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Libre Baskerville;
  src: url(/assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

/* CSS variables */
:root {
  /* Fonts */
  --primary: #2e003e;
  /* deep purple for hero bg */
  --secondary: #e63946;
  /* bold red */
  --accent: #2a9d8f;
  /* sea green/blue */
  --highlight: #1d3557;
  /* rich dark blue */
  --text: black;
  --text-white: white;
  --heading: #2e003e;
  /* Same as primary color for headings */
  /* Font */
  --ff: 1.2rem Poppins, sans-serif;
  --heading-ff: 42px Libre Baskerville, sans-serif;
  /* Spacing scale */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;
}

body {
  font: var(--ff);
  color: var(--text-dark);
  background-color: var(--background);
  width: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*padding: var(--space-sm);*/
  margin: var(--space-xxl);
  margin-top: 25vh;
}

.hero h1 {
  text-align: center;
  color: var(--text);
  font: var(--heading-ff);
  font-weight: bold;
  color: var(--heading);
  line-height: 1.3em;
}

.hero p {
  margin: var(--space-lg);
}

.hero-btn {
  font: inherit;
  font-weight: bold;
  height: 60px;
  width: 180px;
  color: var(--text-white);
  background-color: var(--secondary);
  padding: var(--space-xm);
  border: thin solid black;
  cursor: pointer;
}

.nav-mobile-view {
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--space-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
}

.nav-menu-btn {
  font: 1.5rem monospace;
  color: white;
  cursor: pointer;
}

aside {
  width: 0;
  height: 100%;
  background-color: var(--primary);
  color: white;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.50s ease all;
}

aside ul li a {
  color: white;
}

aside ul li {
  margin: var(--space-md);
  list-style-type: none;
}

aside p {
  font-family: monospace;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: var(--space-lg);
}

.d-n {
  display: none;
}

img[alt] {
  color: white;
}

.about,
.services,
.gallery,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--space-md);
  margin: var(--space-xl);
}

.about h1,
.services h1,
.gallery h1,
.contact h1 {
  font-family: Libre Baskerville, sans-serif;
  color: var(--accent);
  font-size: 34px;
}

.about p,
.services p,
.gallery p,
.contact p {
  margin: var(--space-lg);
}

.services ul {
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;*/
}

.services ul li {
  list-style-type: square;
}

.gallery div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*margin: var(--space-xs);*/
}

.gallery div img {
  width: 125px;
  height: 125px;
  border: 3px solid var(--accent);
}

.contact form {
  /*background-color: var(--highlight);
  color: white;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact label {
  margin: var(--space-md);
}

.contact input {
  font: inherit;
  height: 40px;
  width: 190px;
  border: 1.5px solid var(--accent);
  border-radius: 5px;
  padding: var(--space-sm);
}

.contact textarea {
  font: inherit;
  height: 80px;
  width: 200px;
  padding: var(--space-sm);
  border: 1.5px solid var(--accent);
  border-radius: 5px;
}

button[type="submit"] {
  font: inherit;
  color: white;
  background-color: var(--secondary);
  height: 40px;
  width: 150px;
  margin: var(--space-md);
  border: thin solid black;
  cursor: pointer;
}

.footer {
  text-align: center;
  font: 16px Libre Baskerville;
  color: white;
  background: var(--primary);
  padding: var(--space-lg);
}

.nav-desktop-view {
  display: none;
}

@media screen and (min-width: 480px) {

  .nav-mobile-view,
  aside {
    display: none;
  }

  .nav-desktop-view {
    position: fixed;
    top: 0;
    width: 100%;
    padding: var(--space-lg);
    display: flex;
    display-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--primary);
  }

  .nav-desktop-view ul li {
    /*display: flex;
    flex-direction: row;*/
  }
}